#main-sponsor-logo
	background-image: url(../images/bloomberg-logo.jpg)
	background-repeat: no-repeat
	background-size: contain
	margin: auto auto
	width: 70%
	height: 180px

.partner-img-container
	width: 50%
	float: left

.img-partner
	width: 80%